<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hackathons near you!</h2>
                <hr class="light">
                <p class="text-faded">Our hackers are always looking for events. List your next event with us! </p>
                <a href="#" class="btn btn-default btn-xl">Get Started Here</a>
            </div>
        </div>
    </div>
</section>

