
<section id="about">
    <div class="container">
        <div class="row">
           <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Portfolio of Hackathons </h2>
                <hr class="light">
                <p class="text-faded"> We have hosted many online hackathons successfully. </p>
                               <a href="/events" class="btn btn-default btn-xl"> See the full list here </a> 
                <p class="text-faded"> <br/> Participants have joined from all over the world, our notable events and sponsors are highlighted below. </p> 
     
            </div>
        </div>
    </div>

</section>




