<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2> See all the physical events happening near you </h2>
            <a href="#" class="btn btn-default btn-xl wow tada"> Hackathons </a>
        </div>
    </div>
</aside>

