

<section id="contact">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 >Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to hack with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>


<table class="col-lg-12 text-center">
    <center> <div id = "contactinfo">
                <i class="fa fa-phone fa-3x wow bounceIn"></i> </td>
                <p>347-675-238</p> </td>

               <i class="fas fa-envelope fa-3x"></i> 
               <p> <a href="mailto:your-admin@hacklive.com">admin@hacklive.com</a></p> 

        </div>   

  </div>
</section>

