<header>
	<div class="videoBgWrapper">
    <video loop muted autoplay poster="img/videoframe.jpg" class="videoBg">
    <source src="https://download.videvo.net/videvo_files/video/free/2018-08/small_watermarked/180825_01_laptop_preview.webm" type="video/webm">
    </video>
</div>
      
    <div class="header-content">
        <div class="header-content-inner">
             <h1>HackLive</h1>
            <hr>
            <div class= "headercaption" >We are the first virtual hackathon. Events happen once a month where developers compete on teams to hack a challenge online. Everything is live streamed, click below to view the broadcast or to see when the next hackathon is happening. </div>
            <a class="btn btn-primary btn-xl page-scroll" href="/events/7" <%= link_to "Watch Now" %> </a>
        </div>
    </div>
</header>

