<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>HackLive</h1>
            <hr>
            <p>We are the first virtual hackathon. Events happen once a month where developers compete on teams to hack a challenge online. Everything is live streamed, click below to see the broadcast or to see when the next hackathon is happening. </p>
            <a class="btn btn-primary btn-xl page-scroll" href="/events/7" <%= link_to "Watch Now" %> </a>
        </div>
    </div>
</header>

